.search {
  /* width: 100%; */
  padding: 70px 70px 0;
  margin: 0 0 10px;
  display: flex;
  align-items: center;
}

.search__wrapper {
  border-bottom: 1px solid #424242;
  padding: 0 0 69px;
  margin: 0 auto;
  width: 100%;
}

.search__form {
  background-color: #222222;
  max-width: 1140px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border-radius: 9px;
}

.search__fieldset {
  background-color: #222222;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 19px;
  border: none;
  outline: none;
  box-sizing: border-box;
  flex-grow: 1;
  justify-content: space-between;
  border-radius: 9px;
}

.search__input-label {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

.search__icon {
  border-radius: 48px;
  margin: 0;
  padding: 6px;
  box-sizing: border-box;
}

.search__input {
  border: none;
  outline: none;
  background-color: #222222;
  caret-color : #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  width: 100%;
}

.search__input:focus {
  border: none;
  border-bottom: 1px solid #8B8B8B;
}

.search__input::placeholder {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #8B8B8B;
}

.search__input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.search__button {
  background-color: #4285F4;
  border-radius: 48px;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.64;
  text-align: center;
  color: #FFFFFF;
  border: none;
  margin: 0 0 0 21px;
  padding: 8px 10.35px;
}

.search__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.search__vertical-line {
  background-color: #505050;
  width: 1px;
  height: 40px;
}

@media screen and (max-width: 650px) {
  .search {
    padding: 80px 10px 44px;
  }
  .search__form {
    background-color: #202020;
    flex-direction: column;
  }
  .search__icon {
    display: none;
  }
  .search__vertical-line {
    display: none;
  }
  .search__fieldset {
    margin-bottom: 45px;
    width: 100%;
  }
  .search__input::placeholder {
    font-size: 14px;
    line-height: 1.43;
  }
}
