.signup {
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #202020;
  padding: 70px;
  min-width: 320px;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  max-height: 700px;
}

.signup__section {
  margin: 0 auto;
  padding: 0;
  max-width: 396px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.signup__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  color: #ffffff;
  margin: 40px 0;
  padding: 0;
}

.signup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100%;
}

.signup__form-fieldset {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
}

.signup__form-label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
  margin: 0 0 10px;
  padding: 0;
  width: 100%;
  display: block;
  border: none;
  outline: none;
}

.signup__input {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  border: none;
  outline: none;
  background-color: #2f2f2f;
  border-radius: 8px;
  caret-color: #ffffff;
  margin: 0 0 10px;
  padding: 15px;
  height: 46px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.signup__input:focus {
  border: none;
  border-bottom: 1px solid #8b8b8b;
}

.signup__error {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #ee3465;
  margin: auto 0 0;
  padding: 0;
  opacity: 0;
}

.signup__error_visible {
  opacity: 1;
}

.signup__input-error {
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #ee3465;
  opacity: 0;
  margin: 0;
  padding: 0;
  transition: 200ms;
}

.signup__input:invalid:not([value='']) + .signup__input-error {
  opacity: 1;
}

.signup__btn {
  font-size: 14px;
  line-height: 17px;
  border: none;
  outline: none;
  text-align: center;
  margin: 0;
  padding: 13px 0 15px;
  width: 100%;
}

.signup__btn_type_submit {
  font-weight: 500;
  color: #ffffff;
  margin: 20px 0 16px;
  background-color: #4285f4;
  border-radius: 3px;
}

.signup__btn_type_submit:not(:disabled):hover {
  cursor: pointer;
  opacity: 0.8;
}

.signup__btn_type_disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
}

.signup__form-link-wrapper {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup__form-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285f4;
  text-decoration: none;
  margin: 0 0 0 6px;
  padding: 0;
}

.signup__form-link:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media screen and (max-width: 400px) {
  .signup {
    padding: 56px 30px 30px;
    max-height: 780px;
  }
  .signup__btn,
  .signup__form-link-wrapper,
  .signup__form-link {
    font-size: 12px;
    line-height: 15px;
  }
  .signup__title {
    margin: 50px 0 80px;
    text-align: center;
  }
  .signup__header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
